body {
  background-color: floralwhite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,html, #root{ height: 100% !important; width: 100% !important;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-beno1{
  background: rgb(65,67,76) !important;
  color: white !important;
}
.btn-beno1:hover{
  background: rgb(65,90,90) !important;
}

.add{font-size: 14px !important; font-weight: bold; margin-left: 10px;}

.modal-lg{ max-width: 80% !important;}

.descricao{ min-height: 250px;}